.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-image {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-title {
  font-size: 24px;
  font-weight: 600;
  color: #111;
}

.category-table-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
}

.category-table-wrapper::-webkit-scrollbar {
  display: none;
}


.category-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.category-table th {
  background-color: #414141;
  color: #ffffff;
  padding: 8px 10px;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-table td {
  padding: 8px 10px;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #cacaca;
}

.category-table tbody tr:hover {
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}

.category-image,
.category-placeholder {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background-color: #f0f0f0;
}

.category-name {
  font-size: 14px;
  font-weight: 500;
}

.category-table th:nth-child(1),
.category-table td:nth-child(1),
.category-table th:nth-child(6),
.category-table td:nth-child(6) {
  width: 56px;
  min-width: 56px;
  max-width: 56px;
  text-align: center;
}

.category-add-btn {
  background: #111;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  color: red;
}

.category-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.category-modal {
  background: #fff;
  width: 360px;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.category-modal input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-actions button {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .category-table th {
  font-size: 12px;
}

.category-table td {
  font-size: 12px;
}
}