.back-btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.back-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  width: 12px;
  height: 12px;
  border-left: 3px solid #111;
  border-bottom: 3px solid #111;
  transform: translateY(-50%) rotate(45deg);
}

.dish-container {
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  max-width: 900px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.dish-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.dish-header h2 {
  margin: 0;
}

.dish-details-image {
  position: relative;
  width: 50%;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0;
}

.dish-details-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.image-upload-btn {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  background-color: #111;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.section {
  margin-top: 20px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-title p {
  margin: 0;
}

.section-title.with-action {
  align-items: center;
}

.edit-icon {
  margin-left: auto;
}
.edit-icon,
.delete-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.add-btn {
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
}

.table-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.data-table {
  width: 100%;
  margin-top: 8px;
  table-layout: fixed;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #e0e0e0;
  padding: 8px;
  font-size: 14px;
}

.data-table th {
  background: #f5f5f5;
  text-align: start;
}

.table-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.table-wrapper .data-table input{
 width: 100%;
 box-sizing: border-box;
}

.data-table th:nth-child(1),
.data-table td:nth-child(1) {
  width: 40%;
}

.data-table th:nth-child(2),
.data-table td:nth-child(2) {
  width: 30%;
}

.data-table th:nth-child(3),
.data-table td:nth-child(3) {
  width: 20%;
}

.data-table th:nth-child(4),
.data-table td:nth-child(4) {
  width: 10%;
  text-align: center;
}

input,
textarea {
  padding: 6px;
}

textarea {
  min-height: 80px;
  width: 100%;
  box-sizing: border-box;
}

.action {
  display: flex;
  gap: 10px;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.action button,
.actions button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #111;
  transition: all 0.2s ease-in;
}

.action button:first-child,
.actions button:first-child {
  background: #111;
  color: #fff;
} 

.action button:hover,
.actions button:hover {
  scale: 1.05;
}
