.users-page {
  display: flex;
  flex-direction: column;
}

.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-title {
  font-size: 24px;
  font-weight: 600;
}

.users-btn {
  background: #111;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.users-table-wrapper {
  width: 100%;
  max-height: calc(100vh - 185px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* TABLE */
.users-table {
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.users-table thead {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #414141;
}

.users-table th {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  text-overflow: ellipsis;
}

.users-table td {
  padding: 8px 10px;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e0e0e0;
  height: 36px;
}

.users-table th:nth-child(1),
.users-table td:nth-child(1){
  width: 20px !important;
  max-width: 20px !important;
}

.users-table th:nth-child(2),
.users-table td:nth-child(2){
  width: 200px;
  max-width: 400px;
}


.users-table tbody tr:hover {
  background-color: rgb(234, 234, 234);
}

.users-table tr.clickable {
  cursor: pointer;
}

.users-row {
  cursor: pointer;
}

.users-row:hover {
  background: #eaeaea;
}

@media screen and (max-width: 768px) {
  .users-table-wrapper {
    width: 100% !important;
  }

  .users-table th {
    font-size: 12px;
  }

  .users-table td {
    font-size: 12px;
  }
}